/* --- Project-wide box-sizing, font, default styles... --- */
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
p {
  padding: 0;
  margin: 0;
}
h3 {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
h1 {
  font-size: 26px;
}
p,
a {
  font-size: 18px;
}

/* --- Project colors --- */
:root {
  --blue: #0065fc;
  --light-blue: #deebff;
  --grey: #f2f2f2;
}

/* --- Utilities --- */
.text-24 {
  font-size: 24px;
}
.text-blue {
  color: var(--blue);
}
.text-light-blue {
  color: var(--light-blue);
}
.text-grey {
  color: var(--grey);
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.rounded-full {
  border-radius: 50px;
}
.component {
  padding: 15px 40px;
}

body {
  display: flex;
  flex-direction: column;
}

/* --- Navbar --- */
nav {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

#logo {
  object-fit: contain;
  margin-left: 15px;
  padding-top: 30px;
}

#nav-links-container {
  display: flex;
}

.nav-link {
  color: black;
  text-decoration: none;
  padding-top: 30px;
}
.nav-link:hover {
  color: var(--blue) !important;
  border-top: 2px solid var(--blue);
}
.nav-link:visited {
  color: black;
}
#lodgings_nav_link {
  margin-right: 60px;
}

/* --- Rest of the header --- */
#search {
  max-width: 100%;
  margin-top: 20px;
}

#pin-div {
  background-color: var(--grey);
  width: 4%;
  padding: 15px 22px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin: 0;
}

#search-input {
  width: 300px;
  padding: 15px 15px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid var(--grey);
}

#button-search {
  font-weight: 500;
  font-size: 18px;
  background-color: var(--blue);
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 18px 18px;
  font-weight: 600;
  border: 1px solid var(--blue);
  cursor: pointer;
}
#button-search-mobile {
  display: none;
  font-weight: 500;
  background-color: var(--blue);
  color: white;
  border-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 18px 18px;
  font-weight: 600;
  border: 1px solid var(--blue);
  cursor: pointer;
}

/* --- FILTERS --- */

div#filters p,
div#filters span {
  font-weight: 600;
  display: inline-block;
}

#filters {
  width: 100%;
  display: flex;
  align-items: center;
}

#filters-group {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-left: 40px;
}

.filters-pill {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 30px;
  border: 2px solid var(--grey);
  margin-right: 30px;
  cursor: pointer;
  transition: all 0.3s;
  padding: 13px;
}
.filters-pill:hover {
  transform: scale(1.15);
}

.filters-icon {
  position: absolute;
  padding: 15px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  background-color: var(--light-blue);
  color: var(--blue);
  left: -7px;
}

.filters-icon > i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 18px;
}

.filters-label {
  padding-right: 20px;
  padding-left: 40px;
}

#info-circle {
  border: var(--grey) solid 2px;
  width: 25px;
  height: 25px;
  font-size: 14px;
  color: var(--blue);
  padding: 13px;
  margin-right: 15px;
}

/* --- LODGINGS section --- */
main {
  margin-top: 15px;
}

#lodgings-popular-container {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

#lodgings,
#popular {
  background-color: var(--grey);
  border-radius: 20px;
  padding: 20px 30px;
}

#lodgings {
  width: 66.66%;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: 40px;
  margin-left: 40px;
  padding-bottom: 50px;
}
#popular {
  width: 33.33%;
  padding-right: 40px;
  margin-right: 40px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.card {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 210px;
  background: white;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 10px 8px 27px -14px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 10px 8px 27px -14px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 8px 27px -14px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}
.card:hover {
  transform: scale(1.05);
}

div.card img {
  min-height: 55%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0 10px;
}

div.card-content > h3 {
  margin-bottom: 5px;
}

div.card-content > p {
  font-size: 14px;
  margin-bottom: 11px;
}

div.card-content > div {
  font-size: 12px;
  margin-bottom: 8px;
}

.more {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

/* --- POPULAR --- */
.popular-cards-container {
  margin-bottom: 0;
}

.popular-card {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 150px;
  padding: 5px;
  background: white;
  border-radius: 20px;
  box-shadow: 10px 8px 27px -14px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 10px 8px 27px -14px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 8px 27px -14px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}
.popular-card:hover {
  transform: scale(1.05);
}

div.popular-card img {
  width: 35%;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.popular-card-content {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

div.popular-card-content > div {
  font-size: 12px;
  margin-top: 40px;
  margin-bottom: 0;
}

/* --- ACTIVITIES --- */
#activities {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}

#activities-container {
  display: flex;
  height: 450px;
  width: 100%;
}

.split-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
}

.activities-card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 5px 8px 40px -8px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 5px 8px 40px -8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 5px 8px 40px -8px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}
.activities-card:hover {
  transform: scale(1.05);
}

.xl {
  width: 25%;
}
.xl > img {
  object-fit: cover;
  height: 88%;
  border-radius: 20px 20px 0 0;
}
.xl > h3 {
  margin: auto 0;
  margin-left: 20px;
}

.lg {
  height: 50%;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}
.lg > img {
  object-fit: cover;
  height: 80%;
  border-radius: 20px 20px 0 0;
}
.lg > h3 {
  margin: auto 0;
  margin-left: 20px;
}

.md {
  height: 46%;
  margin-left: 40px;
}
.md-1 {
  margin-bottom: 40px;
}
.md > img {
  object-fit: cover;
  height: 75%;
  border-radius: 20px 20px 0 0;
}
.md > h3 {
  margin: auto 0;
  margin-left: 20px;
}

.sm {
  margin-left: 40px;
  margin-right: 40px;
  height: 41%;
}
.sm > img {
  object-fit: cover;
  height: 70%;
  border-radius: 20px 20px 0 0;
}
.sm > h3 {
  margin: auto 0;
  margin-left: 20px;
}

/* MEDIA QUERIES */
/* For tablets: */
@media only screen and (max-width: 991px) {
  #filters {
    flex-direction: column;
    align-items: initial;
  }

  .component {
    padding: 15px 25px;
  }

  #filters-group {
    margin-left: 0;
  }

  .filters-pill {
    margin-bottom: 10px;
  }

  #lodgings-popular-container {
    flex-direction: column-reverse;
    padding-top: 10px;
  }

  #lodgings,
  #popular {
    background-color: var(--grey);
    border-radius: 0px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  #lodgings {
    width: 100%;
    margin-right: 0;
    background: white;
    padding-top: 20px;
  }
  #popular {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .popular-card {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #activities-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .activities-card {
    margin-left: 0;
    margin-bottom: 20px;
    height: 190px;
  }
  .activities-card > img {
    height: 70%;
  }

  .split-container,
  .xl,
  .lg,
  .md,
  .sm {
    width: 100%;
  }

  .md-2 {
    margin-bottom: 50px;
  }
}

/* For mobile: */
@media only screen and (max-width: 767px) {
  nav {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  #nav-links-container {
    display: flex;
    width: 100%;
  }

  .nav-link {
    border-bottom: 3px solid var(--grey);
    width: 50%;
    text-align: center;
    padding-bottom: 15px;
  }
  .nav-link:hover {
    border-bottom: 3px solid var(--blue);
    border-top: none;
  }

  #lodgings_nav_link {
    margin-right: 0;
  }

  #button-search {
    display: none;
  }

  #search-input {
    width: 100%;
  }

  #button-search-mobile {
    display: initial;
    margin-left: -10px;
  }

  div#filters p {
    margin-bottom: 20px;
  }

  .card {
    height: 230px;
  }
}
